<div id="home-slider">
    <div class="md-slide-items md-slider" id="md-slider-1" data-thumb-width="105" data-thumb-height="70">
        <div class="md-slide-item slide-0" data-timeout="6000">
            <div class="md-mainimg"><img src="images/ex/th-slide.jpg" alt=""></div>
            <div class="md-objects">
                <div class="md-object rs slide-title" data-x="20" data-y="38" data-width="480" data-height="30" data-start="700" data-stop="5500" data-easein="random" data-easeout="keep">
                    <p>Let's pool the funds together!!</p>
                </div>
                <div class="md-object rs slide-description" data-x="20" data-y="160" data-width="480" data-height="90" data-start="1400" data-stop="7500" data-easein="random" data-easeout="keep">
                    <p></p>
                </div>
                
            </div>
        </div>
        <div class="md-slide-item slide-1" data-timeout="6000">
            <div class="md-mainimg"><img src="images/ex/th-slide.jpg" alt=""></div>
            <div class="md-objects">
                <div class="md-object rs slide-title" data-x="20" data-y="188" data-width="390" data-height="30" data-start="700" data-stop="5500" data-easein="random" data-easeout="random">
                    <p>A creative engine</p>
                </div>
                <div class="md-object rs slide-description2" data-x="20" data-y="250" data-width="390" data-height="100" data-start="1400" data-stop="4500" data-easein="random" data-easeout="random">
                    <p>Mauris volutpat, lectus vitae pretium sagittis, turpis augue euismod libero</p>
                </div>
                <div class="md-object" data-x="454" data-y="44" data-width="327" data-height="268" data-start="1000" data-stop="5500" data-easein="random" data-easeout="random" style="">
                    <img src="images/ex/slide1_1.png" alt="Responsive" width="327" height="268"/></div>
                <div class="md-object" data-x="628" data-y="142" data-width="298" data-height="176" data-start="1600" data-stop="5100" data-easein="random" data-easeout="random" style="">
                    <img src="images/ex/slide1_2.png" alt="Responsive" width="298" height="176"/></div>
                <div class="md-object" data-x="837" data-y="169" data-width="119" data-height="149" data-start="2200" data-stop="4800" data-easein="random" data-easeout="random" style="">
                    <img src="images/ex/slide1_3.png" alt="Responsive" width="119" height="149"/></div>
                <div class="md-object" data-x="809" data-y="208" data-width="59" data-height="114" data-start="2800" data-stop="4500" data-easein="random" data-easeout="random" style="">
                    <img src="images/ex/slide1_4.png" alt="Responsive" width="59" height="114"/></div>
            </div>
        </div>
        <div class="md-slide-item slide-2" data-timeout="4000">
            <div class="md-mainimg"><img src="images/ex/th-slide.jpg" alt=""></div>
            <div class="md-objects">
                <div class="md-object slide-with-background" data-x="20" data-y="58" data-width="500" data-height="170" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="3600" data-easein="random" data-easeout="keep">
                    <h2 class="rs slide-title">Start your project today</h2>
                    <p class="rs slide-description2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end: #home-slider -->
<div class="home-feature-category" ng-controller="CampaignListCtrl">
    <div class="container_12 clearfix">
        <div class="grid_4 left-lst-category">
            <div class="wrap-lst-category">
                <h3 class="title-welcome rs">PoolING!</h3>
                <p class="description rs">It's time to pool your resources!</p>
                <nav class="lst-category">
                    <ul class="rs nav nav-category">
                        <li ng-repeat="category in categories">
                            <a href="#">{{ category }} <span class="count-val">({{ (campaigns|filter:{'type':category}).length }})</span><i class="icon iPlugGray"></i></a>
                        </li>
                    </ul>
                </nav>
                <!--end: .lst-category -->
            </div>
        </div>
        <!--end: .left-lst-category -->
        <div class="grid_8 marked-category" ng-repeat="campaign in (cat = (campaigns | filter:{'type':'Office gift'})) | limitTo:1">
            <div class="wrap-title clearfix">
                <h2 class="title-mark rs"><span class="fc-orange">Featured campaign</span></h2>
                <a href="/#/campaigns" class="count-project be-fc-orange">See all
                    <span class="fw-b">{{ cat.length }}</span> {{ campaign.type }} campaigns</a>
            </div>
            <div class="box-marked-project project-short">
                <div class="top-project-info">
                    <div class="content-info-short clearfix">
                        <a href="/#/campaign/{{ campaign.id }}" class="thumb-img"><img width="192" height="135" ng-src="{{ campaign.image_url || '/images/ex/th-292x204.jpg' }}"></a>
                        <div class="wrap-short-detail">
                            <h3 class="rs acticle-title">
                                <a class="be-fc-orange" href="/#/campaign/{{ campaign.id }}">{{ campaign.name }}</a>
                            </h3>
                            <p class="rs tiny-desc">by <a href="/#/user/{{ campaign.creator_username }}" class="fw-b fc-gray be-fc-orange">{{ campaign.creator_username }}</a></p>
                            <p class="rs title-description">{{ campaign.description }}</p>
                        </div>
                    </div>
                </div>
                <!--end: .top-project-info -->
                <div class="bottom-project-info clearfix">
                    <div class="project-progress sys_circle_progress" data-percent="{{ (100/(campaign.target_amount/campaign.current_amount)).toFixed(0) }}">
                        <div class="sys_holder_sector"></div>
                    </div>
                    <div class="group-fee clearfix">
                        <div class="fee-item">
                            <p class="rs lbl">Funded</p>
                            <span class="val">{{ (100/(campaign.target_amount/campaign.current_amount)).toFixed(0) }}%</span>
                        </div>
                        <div class="sep"></div>
                        <div class="fee-item">
                            <p class="rs lbl">Target</p>
                            <span class="val">{{ campaign.target_amount.toFixed(2) }}</span>
                        </div>
                        <div class="sep"></div>
                        <div class="fee-item">
                            <p class="rs lbl">Pledged</p>
                            <span class="val">{{ campaign.current_amount.toFixed(2) }}</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--end: .marked-category -->
        <div class="clear"></div>
    </div>
</div>
<!--end: .home-feature-category -->
<div class="home-popular-project" ng-controller="CampaignListCtrl">
    <div class="container_12">
        <div class="grid_12 wrap-title">
            <h2 class="common-title">Recent campaigns</h2>
            <a class="be-fc-orange" href="/#/campaigns">View all</a>
        </div>
        <div class="clear"></div>
        <div class="lst-popular-project clearfix">
            <div class="grid_3" ng-repeat="campaign in campaigns | reverse | filter: { 'type': '!UNWINDED' } | limitTo:4">
                <div class="project-short sml-thumb">
                    <div class="top-project-info">
                        <div class="content-info-short clearfix">
                            <a href="/#/campaign/{{ campaign.id }}" class="thumb-img">
                                <img ng-src="{{ campaign.image_url || '/images/ex/th-192x135.jpg' }}" alt="{{ campaign.name }}" style="height:135px;">
                            </a>
                            <div class="wrap-short-detail">
                                <h3 class="rs acticle-title">
                                    <a class="be-fc-orange" href="/#/campaign/{{ campaign.id }}">{{ campaign.name }}</a></h3>
                                <p class="rs tiny-desc">by
                                    <a href="/#/user/{{ campaign.creator_username }}" class="fw-b fc-gray be-fc-orange">{{ campaign.creator_username }}</a></p>
                                <p class="rs title-description">{{ campaign.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-project-info clearfix">
                        <div class="line-progress">
                            <div class="bg-progress">
                                <span style="width: {{ (100/(campaign.target_amount/campaign.current_amount)).toFixed(0) }}%"></span>
                            </div>
                        </div>
                        <div class="group-fee clearfix">
                            <div class="fee-item">
                                <p class="rs lbl">Funded</p>
                                <span class="val">{{ (100/(campaign.target_amount/campaign.current_amount)).toFixed(0) }}%</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Target</p>
                                <span class="val">{{ campaign.target_amount.toFixed(2) }}</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Pledged</p>
                                <span class="val">{{ campaign.current_amount.toFixed(2) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: .grid_3 > .project-short-->
        </div>
    </div>
</div>
<!--end: .home-popular-project -->